## Dictionary – `dict`

Another useful Python container is called the dictonary, or `dict`. A dictionary is not indexed using numbers, but rather using arbitrary objects (as long as they can be hashed), most often using strings.

Let us suppose that there are three movies in the cinema: Superman IV., Hobbit and Rogue One and we want to store the price of the tickets for each, so that we can query for it using the title of the movie:

In [2]:
ticket_price = {'superman_iv': 5, 'hobbit': 7, 'rogue_one': 11}
print(ticket_price['hobbit'])

7

### An Empty Dictionary

We can also create an empty dictionary:

In [ ]:
ticket_price = {}
print(ticket_price)

ticket_price2 = dict()
print(ticket_price2)

### Adding New Elements

To add new elements to a dictionary, we only need to index them and assign a value:

In [3]:
ticket_price = {}
ticket_price["shadowlands"] = 7
ticket_price["alice_in_wonderland"] = 4

print(ticket_price)

{'shadowlands': 7, 'alice_in_wonderland': 4}

### Does the Dictionary Contain Key x?

If we want to check whether a dictionary contains a certain key, we can do this using keyword `in`:

In [4]:
ticket_price = {'superman_iv': 5, 'hobbit': 7, 'rogue_one': 11}

key1 = 'hobbit'
if key1 in ticket_price:
  ticket_price[key1] = 9

Or alternatively you can also use try-except to check the presence (and modify it) of a key in dictionary.

In [ ]:
#  key1 = 'batman' # uncomment this line to raise the error
try:
  ticket_price[key1] = 9
except KeyError:
  print(f"key: {key1} not found in dictionary")

Another way is to return a default value if the key is not contaied.

In [ ]:
key1 = 'batman'
price = ticket_price.get(key1, -1) # second argument is the default value
print(f"Price of {key1} movie is: {price}")

### Deleting Elements from a Dictionary

Deleting elements from a dictionary is analogical to deleting from a list – we will again use keyword `del`:

In [ ]:
ticket_price = {'superman_iv': 5, 'hobbit': 7, 'rogue_one': 11}
del ticket_price['superman_iv']

print(ticket_price)

### Iterating over Dictionaries

Iteration over dictionaries can be done in one of three ways: over (key, value) pairs, over keys separately, or over values separately:

In [ ]:
ticket_price = {'superman_iv': 5, 'hobbit': 7, 'rogue_one': 11}

print("over pairs:")
for k, v in ticket_price.items():
    print(k, v)

print("\nover keys:")
for k in ticket_price.keys():
    print(k)

print("\nover values:")
for v in ticket_price.values():
    print(v)

### Dictionary Comprehensions

Analogically to lists, dictionaries can also be created using comprehensions, e.g.:

In [10]:
movies = ['superman_iv', 'hobbit', 'rogue_one']
prices = [5, 7, 11]

ticket_price = {k: v for k, v in zip(movies, prices)}

print(ticket_price)

{'superman_iv': 5, 'hobbit': 7, 'rogue_one': 11}

To merge two dictionaries you can use dictionary unpacking operator `**`. From Python 3.9 and upper versions you can use the `|` operator.

In [11]:
czechoslovak_ticket_prices = {'Pacho the Brigand of Hybe': 3, 'The Millennial Bee': 4, 'The Shop on Main Street': 3}

all_ticket_prices = {**czechoslovak_ticket_prices, **ticket_price}

print(f"merged dictionaries: {all_ticket_prices}")

all_ticket_prices = czechoslovak_ticket_prices | ticket_price
print(f"merged dictionaries from Python 3.9: {all_ticket_prices}")

merged dictionaries: {'Pacho the Brigand of Hybe': 3, 'The Millennial Bee': 4, 'The Shop on Main Street': 3, 'superman_iv': 5, 'hobbit': 7, 'rogue_one': 11}
merged dictionaries from Python 3.9: {'Pacho the Brigand of Hybe': 3, 'The Millennial Bee': 4, 'The Shop on Main Street': 3, 'superman_iv': 5, 'hobbit': 7, 'rogue_one': 11}

# Tasks

## Task set 1 — Basic dictionary operations

1. Increase the price of the **Hobbit** movie by `1` in the `all_ticket_prices` dictionary.  
2. Remove **"Pacho the Brigand of Hybe"** from the movies.  
3. Print all movie titles.  
4. Add a new movie — **[The Cremator](https://www.csfd.cz/film/4244-spalovac-mrtvol/prehled/)** — with a price of `7`.  
5. Set the price of every movie that costs **6 or more** to `6` (apply a discount to cap such prices at 6).  
6. Invert the movies dictionary so that prices are keys and movie titles are values. If multiple movies share the same price, use a list of titles as the value.

In [ ]:
#del all_ticket_prices['Pacho the Brigand of Hybe']
all_ticket_prices['hobbit'] += 1
all_ticket_prices['The Cremator'] = 7
print(all_ticket_prices)
all_ticket_prices = {k: (6 if x > 6 else x) for k,x in all_ticket_prices.items()}
print(all_ticket_prices)
rev = {}

for k,x in all_ticket_prices.items():
    if x not in rev:
        rev[x] = k
    else:
        rev[x] += f' {k}'

print(rev)

{'The Millennial Bee': 4, 'The Shop on Main Street': 3, 'superman_iv': 5, 'rogue_one': 6, 'hobbit': 7, 'The Cremator': 7}
{'The Millennial Bee': 4, 'The Shop on Main Street': 3, 'superman_iv': 5, 'rogue_one': 6, 'hobbit': 6, 'The Cremator': 6}
{4: 'The Millennial Bee', 3: 'The Shop on Main Street', 5: 'superman_iv', 6: 'rogue_one hobbit The Cremator'}

## Task set 2 — Sentence processing

Below are a few sentences from [Romeo and Juliet](http://shakespeare.mit.edu/romeo_juliet/full.html) by William Shakespeare (1597), stored in a single string. Use the string methods `replace()` and `split()` to remove punctuation and split the string into individual words. Remember to normalize case (for example, convert the string to lowercase) so that word counts are case-insensitive.

Finally, print each word together with its frequency (how many times it occurs). Make sure to ignore any empty strings that may appear after splitting.

In [26]:
def freq(f):
    z = {}
    for x in f:
        if x not in z:
            z[x] = 1
        else:
            z[x] +=1 
    return z

nurse_speaks = "What, dress'd! and in your clothes! and down again! I must needs wake you; Lady! lady! lady! Alas, alas! Help, help! my lady's dead! O, well-a-day, that ever I was born! Some aqua vitae, ho! My lord! my lady!"
words = nurse_speaks.lower().replace(",","").replace('!','').split()
frequency = freq(words)
print(frequency)

{'what': 1, "dress'd": 1, 'and': 2, 'in': 1, 'your': 1, 'clothes': 1, 'down': 1, 'again': 1, 'i': 2, 'must': 1, 'needs': 1, 'wake': 1, 'you;': 1, 'lady': 4, 'alas': 2, 'help': 2, 'my': 3, "lady's": 1, 'dead': 1, 'o': 1, 'well-a-day': 1, 'that': 1, 'ever': 1, 'was': 1, 'born': 1, 'some': 1, 'aqua': 1, 'vitae': 1, 'ho': 1, 'lord': 1}

### Printing short words

Create a function that prints all words shorter than *n* characters (where *n* is a parameter) from a list supplied as an argument. To demonstrate the function, use the list of words produced in the previous exercise. Ensure the function does not modify the original list and handles empty lists gracefully.

In [31]:
def min_than(f, num):
    print([x for x in f if len(x) < num])

print(freq(list()))
min_than(words, 4)

{}
['and', 'in', 'and', 'i', 'my', 'o', 'i', 'was', 'ho', 'my', 'my']

## Task set 3 — Nested dictionary

A *nested dictionary* is a dictionary that contains other dictionaries. The top-level dictionary `cinema_movies` maps cinema names to dictionaries of movies and their prices (for example: `{"Cinema A": {"Movie X": 5, "Movie Y": 6}, ...}`).

Write code that, for each movie found in `cinema_movies`, prints the name of a cinema offering that movie at the **lowest price** and the corresponding price. If several cinemas offer the same lowest price for a movie, printing any one of them is sufficient. Format the output like: `Movie Title — Cinema Name: price`.

In [37]:
def find_all_min_price_cinemas(cinema_movies):
    min_prices = {}
    for cinema, movies in cinema_movies.items():
        for title, price in movies.items():
            if title not in min_prices:
                min_prices[title] = {'price': price, 'cinemas': [cinema]}
            elif price < min_prices[title]['price']:
                min_prices[title] = {'price': price, 'cinemas': [cinema]}
            elif price == min_prices[title]['price']:
                min_prices[title]['cinemas'].append(cinema)
    return min_prices
        
        


cinema_movies = {
 'star cinema':{ 'hobbit': 9, 'avatar': 8, 'The Millennial Bee': 5 },
 'cinemini':{ 'hobbit': 8, 'avengers': 4, 'The Millennial Bee': 6 },
 'hollywood cine':{ 'hobbit': 6, 'avatar': 7, 'avengers': 4 },
 'silver cinemas': { 'medieval': 5, 'avatar': 7, 'avengers': 3 }
 }

print(find_all_min_price_cinemas(cinema_movies))

{'hobbit': {'price': 6, 'cinemas': ['hollywood cine']}, 'avatar': {'price': 7, 'cinemas': ['hollywood cine', 'silver cinemas']}, 'The Millennial Bee': {'price': 5, 'cinemas': ['star cinema']}, 'avengers': {'price': 3, 'cinemas': ['silver cinemas']}, 'medieval': {'price': 5, 'cinemas': ['silver cinemas']}}